.ConfigPlayers__form {
  padding: 2rem 2rem 1rem;
}

.ConfigPlayers__section {
  margin-bottom: 2rem;
}

.ConfigPlayers__section:last-child {
  margin-bottom: 0;
}

.ConfigPlayers__label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: center;
}

.ConfigPlayers__input-text {
  box-sizing: border-box;
  font-family: var(--font-secondary);
  height: 3rem;
  text-align: center;
  width: 100%;
}

.ConfigPlayers__scoreboard-link {
  color: var(--color-dark-primary);
  display: block;
  text-align: center;
}
