.Footer {
  font-family: var(--font-secondary);
  text-align: center;
}

.Footer__paragraph {
  color: var(--color-accent);
  font-style: italic;
}

.Footer__link {
  color: var(--color-dark-primary);
}
