:root {
  --color-black: #212121;
  --color-dark-gray: #424242;
  --color-gray: #616161;
  --color-light-gray: #757575;

  --font-main: 'Roboto Slab', serif;
}

body {
  font-family: var(--font-main);
}
